body{
    background-color: rgb(121, 121, 121);
    text-align: center;
}

div{
    border:2px solid black;
    background-color: black
}

h1, p{
    color: white;
    text-align: center;
}


.borderp{
    border-radius: 20%;
    border: solid black;
    width: 550px;
    height: 350px;
    position: relative;
    left: 780px;
    background-color: white;
    color: black;
}


.onest{
    border: 25px solid black;
    border-radius: 1000px;
    width: 160px;
    height: 160px;
    position: relative;
    left: 500px;
    bottom: -250px;
    background-color: red;
    color: white;
    font-family: cursive;
}

.twond{
    border: 25px solid black;
    border-radius: 1000px;
    width: 160px;
    height: 160px;
    position: relative;
    left: 1400px;
    bottom: -53px;
    background-color: blue;
    color: white;
    font-family: cursive;
}


.purple{
    border: 50px solid black;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    background-color: rgb(175, 0, 175);
    color: white;
    font-family: fantasy;
    position: relative;
    left: 720px;
    top: 300px;
}


