div{    
    text-align: center;
    border: 5px solid black;
    border-radius: 500px;
}

H2, h3
{
    text-align: center;
}


body
{
    background-color: rgb(167, 212, 230);
}


p
{
    text-align: center;
    border: 5px solid black;
    border-top-left-radius: 100000px;
    border-top-right-radius: 100000px;
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
    font-size: 25px;
}