/*ედადეთ გააკეთოთ ღილაკი რომელიც შეიცვლის ფორმას 5 წამის განმავლობაში და ჰოვერით შეეცვლება ფერი ფორმა ფერები იყოს შავი და ღია ლურჯი*/


div{
    text-align: center;
}


button{
    background-color: black;
    color: white;
    width: 500px;
    height: 500px;
    transition: transform, background;
    transition-duration: 5s;
}


button:hover{
    transform: scale(1.1);
    background-color: blue;
}


